/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.envasd
!.env.example



/public/storage
/public/build
/public/hot
/public/images/job/
/public/reports/*

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

.idea/
.vscode/

.DS_Store
Thumbs.db

.phpunit.result.cache

